<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, intial-scale=1.0">
        <title>Url Hashing</title>
    </head>
    <Style>
        form{
            width: 9 00px;
            height: 900px;
            background-color: lightblue;
            display: flex;
            flex-direction: column;
            align-items:center;
            margin: auto;
            padding: 30px;
        }
        button{
            margin-top: 50px;
        }
    </style>
    <body>
        <form action="" method="POST">
            {% csrf_token %}
            <p><b>Please enter URL-</b></p>
            <input type="text" name="full_url">
            <p><b>Please enter any alphanumeric code if you want-</b></p>
            <input type="text" name="code">
            <button type="submit">Submit</button>
            <p>
               Full URL : {{ full_url }}
            </p><br><br>
            <p>
                Short URL :<b>{{ short_url }}</b>
            </p>
        </form>
    </body>
</html>